* {
  font-family: "Patrick Hand", cursive;
  --purple: #a565e0;
  --charcoal: #39373b;
  --mint: #46f2db;
  --light: #f8f9fa;
  --pink: #f5bff5;
  --yellow: #f5f3bf;
}

body {
  background-color: var(--pink);
}

nav {
  background-color: var(--purple);
  padding-bottom: 6rem;
}

.brand-logo {
  font-family: "Pacifico", cursive;
  font-size: larger;
}

nav,
a {
  text-decoration: none;
}

nav,
a:hover {
  color: var(--mint);
}

h1::before {
  content: " 👋 ";
}

h1 {
  color: var(--mint);
  text-align: center;
  transform: rotate(-8deg);
  font-family: "Pacifico", cursive;
}


h3 {
  color: var(--mint);
}


#section-title {
  background-color: var(--mint); 
  color: var(--charcoal);
  text-align: center;
}


#hello {
  background-color: var(--charcoal);
}

#workspace {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#headshot {
  max-width: 80%;
  display: block;
  margin: auto;
}

.main {
  background-color: var(--purple);
}


/* my work cards and about me */

.work-header {
  text-align: center;
}

.card-title {
 background-color: var(--charcoal); 
  color: var(--mint);
}

p {
  font-size: x-large;
}

span {
  font-size: x-large;
}

.card {
  background-color: var(--charcoal);
  color: var(--mint);
}


#button {
  background-color: var(--mint);
  color: var(--charcoal);
  max-width: fit-content;
  display: block;
  margin: auto;
}

/*  footer */

#footer {
  background-color: var(--purple);
}

#contact {
  background-color: var(--purple);
}

footer,
a:hover {
  color: var(--mint);
}

/* LIGHT MODE 

#hello {
  background-color: var(--light);
}

.card-title {
  background-color: var(--light);
  color: var(--purple);
}

.card {
  background-color: var(--light);
  color: var(--purple);
}

h1 {
  color: var(--purple);
}

h3 {
  color: var(--purple);
}

#section-title {
  background-color: var(--purple);
  color: var(--light);
}

#button {
  background-color: var(--mint);
  color: var(--light);
}

.main {
  background-color: var(--mint);
}
*/