* {
  font-family: "Patrick Hand", cursive;
  --purple: #a565e0;
  --charcoal: #39373b;
  --mint: #46f2db;
  --light: #f8f9fa;
  --pink: #f5bff5;
  --yellow: #f5f3bf;
}

body {
  background-color: var(--pink);
}

nav {
  background-color: var(--purple);
  padding-bottom: 8rem;
}

.brand-logo span {
  font-family: "Pacifico", cursive;
  font-size: larger;
}

nav,
a {
  text-decoration: none;
}

nav,
a:hover {
  color: var(--mint);
}

.dropdown {
  background-color: var(--mint);
}

h5 {
  color: var(--purple);
}

h1::before {
  content: " 👋 ";
}

h1 {
  text-align: center;
  transform: rotate(-8deg);
  font-family: "Pacifico", cursive;
}

h3 {
  font-size: 2rem;
  text-align: center;
}

.invisibleBtn {
  height: 110px;
  width: 110px;
}

#magnifyGlass {
  width: 45px;
  height: 90px;
  margin-top: 25px;
  margin-left: 72px;
}

#beethoven {
  width: 115px;
  margin-top: 21px;
  margin-left: 44px;
}

#books {
  width: 45px;
  height: 90px;
  margin-top: 25px;
  margin-left: 37px;
}

#legLamp {
  width: 72px;
  height: 158px;
  margin-top: -28px;
  margin-left: 37px;
}

#monitors {
  width: 296px;
  margin-top: 21px;
  margin-left: 14px;
}
#jazz {
  width: 77px;
  margin-top: 53px;
  margin-left: 5px;
}

.workspace-image {
  background-image: url(assets/images/workspace.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.modal {
  text-align: center;
}

#home {
  margin-top: 75px;
}

#section-title {
  text-align: center;
}

#jazz-img {
  width: 50%;
}

#headshot {
  max-width: 80%;
  display: block;
  margin: auto;
  padding-top: 50px;
}
.skills-title {
  font-size: x-large;
  color: var(--purple);
}
.skills {
  font-size: x-large;
  color: var(--mint);
}

/* my work cards and about me */

.work-header {
  text-align: center;
}
ul {
  list-style-type: circle;
  display: inline;
}

li .technologies {
  font-size: x-large;
  display: inline;
}

p {
  font-size: x-large;
  line-height: 140%;
}

span {
  font-size: x-large;
}

#button {
  max-width: fit-content;
  display: block;
  margin: auto;
}

.carousel {
  overflow: visible;
}

/* DARK MODE */
.dark,
.dark .card-title,
.dark .card,
.dark .modal {
  background-color: var(--charcoal);
}

.dark #section-title,
.dark #button {
  color: var(--charcoal);
}

.dark h1,
.dark h3,
.dark .card,
.dark .card-title,
.dark .skills,
.dark .modal {
  color: var(--mint);
}

.dark #button,
.dark #section-title {
  background-color: var(--mint);
}

/* BRIGHT MODE */

.bright,
.bright .card-title,
.bright .card,
.bright .modal {
  background-color: var(--light);
}

.bright #section-title,
.bright #button {
  color: var(--light);
}

.bright h1,
.bright h3,
.bright .card,
.bright .card-title,
.bright .skills,
.bright .modal {
  color: var(--purple);
}

.bright #button,
.bright #section-title {
  background-color: var(--purple);
}

/* footer */

#footer {
  background-color: var(--purple);
  color: white;
}
.footer-links {
  font-size: x-large;
  padding-bottom: 1rem;
  display: flex;
  justify-content: space-evenly;
}

/* switch */
.switch label input[type="checkbox"]:checked + .lever {
  background-color: #a565e0;
}

.switch label input[type="checkbox"]:checked + .lever:after {
  background-color: white;
}

.switch label .lever:after {
  background-color: #46f2db;
}
