* {
  font-family: "Patrick Hand", cursive;
  --purple: #a565e0;
  --charcoal: #39373b;
  --mint: #46f2db;
  --light: #f8f9fa;
  --pink: #f48fb1;
}
body {
  background-color: var(--pink);
}

nav {
  background-color: var(--purple);
  padding-bottom: 6rem;
}

.brand-logo {
  font-family: "Pacifico", cursive;
}
#name {
  font-size: 3vw;
  padding: 1rem;
}

nav,
a {
  text-decoration: none;
}

nav,
a:hover {
  color: var(--mint);
}

h1::before {
  content: " 👋 ";
}

h1 {
  color: var(--purple);
  text-align: center;
  margin-top: 2rem;
  transform: rotate(-8deg);
  font-family: "Pacifico", cursive;
  line-height: 5.7vw;
  font-size: 4vw;
}

h3 {
  background-color: var(--purple);
  color: white;
  text-align: center;
}

span {
  font-size: 1.5vw;
}

p {
  font-size: 1.5vw;
}

#hello {
  background-color: var(--charcoal);
}

.welcome {
  color: var(--purple);
  margin-top: -2rem;
  margin-left: 5rem;
  font-size: 2.7vw;
}

#workspace {
  max-width: 80%;
  display: block;
  margin: 0 auto;
}

#headshot {
  max-width: 80%;
  margin: 5rem;
  display: block;
  margin: 2 auto;
}

.main {
  background-color: var(--mint);
}
/* my work cards */

.work-header {
  text-align: center;
}

.card-title {
  background-color: var(--charcoal);
  color: var(--purple);
  font-size: 2rem;
}

/* about me */

.card {
  background-color: var(--charcoal);
  color: var(--purple);
}

#button {
  font-size: 1.5rem;
  background-color: var(--purple);
  max-width: fit-content;
  display: block;
  margin: auto;
}

/*  footer */

#footer {
  background-color: var(--purple);
}

#contact {
  background-color: var(--purple);
}

footer,
a:hover {
  color: var(--mint);
}
